body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1rem;
    background-color: powderblue;
}
h1{
    background-color: cornflowerblue;
    color: #fff;
    border-radius: 3rem;
}
header{background-color: powderblue;}
.logo{ 
    max-width: 8rem;
    margin: 1rem;
}
.heading{
 position: absolute;
 top: 0;
 max-width: 75%;
}
.main{
    background-color: #b0e0e6;
    padding: 3rem;
    display: inline-block;
    margin: .5rem;
    vertical-align: top;
    width: 22%;
    word-wrap: normal;
    text-align: center;
}
.linkedin{
    background-color: #fff;
    border-radius: 3rem;
}
.wordpress{
    background-color: #fff;
    border-radius: 4rem;
}
.email{
    background-color: #fff;
    border-radius: 3rem;
}
.info{
    word-spacing: .20rem;}
